@*@model HtmlHelperDataAnnotation.Models.Student
@model HtmlHelperDataAnnotation.Models.Department*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
       
        @using (Html.BeginForm())
        {
             <table>
            <tr>
                <td>@Html.Label("Name")</td>
                <td>@Html.TextBox("Name")</td>
            </tr>
           
            <tr>
                <td>@Html.Label("Email")</td>
                <td>@Html.TextBox("Email")</td>
            </tr>
            <tr>
                <td>@Html.Label("Password")</td>
                <td>@Html.Password("Password")</td>
            </tr>
            <tr>
                <td>@Html.Label("Department")</td>
                <td>@Html.DropDownList("Department",new SelectList(ViewBag.Departments,"Code","Name"))</td>
            </tr>
            <tr>
                <td>@Html.Label("Gender")</td>
                <td>@Html.RadioButton("Gender","Male") Male</td> 
                <td>@Html.RadioButton("Gender", "FeMale") Female</td>
            </tr>
            <tr>
                <td>@Html.Label("Address")</td>
                <td>@Html.TextArea("Address")</td>
            </tr>
                 <tr>
                 <td><input type="submit"  value="Register" /></td>
                     </tr>
            </table>
        }
    </div>
</body>
</html>
